# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
backend/iis/

# ======================
# Environment Variables
# ======================
.env
.env.*
backend/.env
backend/.env.*

# ======================
# FastAPI / Uvicorn
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor / IDE
# ======================
.vscode/
.idea/


# ======================
# Misc
# ======================
coverage/
